<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>layout</key>
		<string>PageConfigDemo.plist</string>
		<key>sqlite</key>
		<string>BookSystem.sqlite</string>
		<key>name</key>
		<string>Demo</string>
		<key>number</key>
		<string>1</string>
	</dict>
	<dict>
		<key>layout</key>
		<string>PageConfigDemo.plist</string>
		<key>sqlite</key>
		<string>BookSystem.sqlite</string>
		<key>name</key>
		<string>Demo</string>
		<key>number</key>
		<string>2</string>
	</dict>
</array>
</plist>
