<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frame</key>
		<dict>
			<key>ChangeUnit</key>
			<string>{{540,800},{185,55}}</string>
			<key>Confirm</key>
			<string>{{630,942},{97,42}}</string>
			<key>Description</key>
			<string>{{20,880},{400,32}}</string>
			<key>EnglishName</key>
			<string>{{20,840},{300,20}}</string>
			<key>Photo</key>
			<string>{{10,155},{748,625}}</string>
			<key>Unit</key>
			<string>{{635,818},{100,35}}</string>
			<key>Back</key>
			<string>{{13,56},{102,49}}</string>
			<key>Additions</key>
			<string>{{520,942},{97,42}}</string>
			<key>Count</key>
			<string>{{110,960},{100,28}}</string>
			<key>ChineseName</key>
			<string>{{20,805},{200,30}}</string>
			<key>Minus</key>
			<string>{{300,942},{97,42}}</string>
			<key>Price</key>
			<string>{{545,805},{84,45}}</string>
			<key>Plus</key>
			<string>{{410,942},{97,42}}</string>
			<key>CountTitle</key>
			<string>{{20,960},{86,28}}</string>
			<key>Comments</key>
			<string>{{450,955},{268,45}}</string>
		</dict>
		<key>foodid</key>
		<string>00007</string>
		<key>hideButton</key>
		<true/>
		<key>type</key>
		<string>推荐菜</string>
		<key>background</key>
		<string>00007.png</string>
	</dict>
	<dict>
		<key>frame</key>
		<dict>
			<key>ChangeUnit</key>
			<string>{{540,800},{185,55}}</string>
			<key>Confirm</key>
			<string>{{630,942},{97,42}}</string>
			<key>Description</key>
			<string>{{20,880},{400,32}}</string>
			<key>EnglishName</key>
			<string>{{20,840},{300,20}}</string>
			<key>Photo</key>
			<string>{{10,155},{748,625}}</string>
			<key>Unit</key>
			<string>{{635,818},{100,35}}</string>
			<key>Back</key>
			<string>{{13,56},{102,49}}</string>
			<key>Additions</key>
			<string>{{520,942},{97,42}}</string>
			<key>Count</key>
			<string>{{110,960},{100,28}}</string>
			<key>ChineseName</key>
			<string>{{20,805},{200,30}}</string>
			<key>Minus</key>
			<string>{{300,942},{97,42}}</string>
			<key>Price</key>
			<string>{{545,805},{84,45}}</string>
			<key>Plus</key>
			<string>{{410,942},{97,42}}</string>
			<key>CountTitle</key>
			<string>{{20,960},{86,28}}</string>
			<key>Comments</key>
			<string>{{450,955},{268,45}}</string>
		</dict>
		<key>foodid</key>
		<string>00013</string>
		<key>hideButton</key>
		<true/>
		<key>type</key>
		<string>推荐菜</string>
		<key>background</key>
		<string>00013.png</string>
	</dict>
	<dict>
		<key>frame</key>
		<dict>
			<key>ChangeUnit</key>
			<string>{{540,800},{185,55}}</string>
			<key>Confirm</key>
			<string>{{630,942},{97,42}}</string>
			<key>Description</key>
			<string>{{20,880},{400,32}}</string>
			<key>EnglishName</key>
			<string>{{20,840},{300,20}}</string>
			<key>Photo</key>
			<string>{{10,155},{748,625}}</string>
			<key>Unit</key>
			<string>{{635,818},{100,35}}</string>
			<key>Back</key>
			<string>{{13,56},{102,49}}</string>
			<key>Additions</key>
			<string>{{520,942},{97,42}}</string>
			<key>Count</key>
			<string>{{110,960},{100,28}}</string>
			<key>ChineseName</key>
			<string>{{20,805},{200,30}}</string>
			<key>Minus</key>
			<string>{{300,942},{97,42}}</string>
			<key>Price</key>
			<string>{{545,805},{84,45}}</string>
			<key>Plus</key>
			<string>{{410,942},{97,42}}</string>
			<key>CountTitle</key>
			<string>{{20,960},{86,28}}</string>
			<key>Comments</key>
			<string>{{450,955},{268,45}}</string>
		</dict>
		<key>foodid</key>
		<string>16018</string>
		<key>hideButton</key>
		<true/>
		<key>type</key>
		<string>推荐菜</string>
		<key>background</key>
		<string>16018.png</string>
	</dict>
</array>
</plist>
